
*.o
*.exe
*.depend
*.cbp
*.layout
Timer/bin/Debug/libTimer.a
viscoacoustic_meres/base.txt
viscoacoustic_cpu_parallel/cpu_parallel.txt
Timer/bin/Debug
viscoacoustic.cpp
*.a
*.a
viscoacoustic_meres_simd/base.txt
pass
send
Terminalcode.txt
*run
*.run
*.meres.txt
*.png


*.vscode*
*.vs/
Ploting/meresek*
Ploting/__pycache__*
*run
*runser
*runacc
*run_v100
Code_Testing_ground/gputest/runk80
Code_Testing_ground/gputest/runv100
API Guide 2.7.pdf
Code_Testing_ground/OpenMP_examples/runtile
*.pre
Cuda_openmp_examples_old/Oneapi/hh.txt
py_venv/
Cuda_openmp_examples_old/OpenMP_examples/bin/
Cuda_openmp_examples_old/OpenMP_examples/runoptim
*.out
Develop/temp_script_file.txt
Develop/vgcore.2082509
Cuda/bin/
*.prof
Automated_testing/__pycache__/SLtools.cpython-36.pyc
Automated_testing/cuda_test/bin/
Automated_testing/cuda_tile/bin/
*.log
Automated_testing/cuda_test/tsf.txt
*case_number.cache
*cases.csv
*.bin
*tsf.txt
meas_tools/bin/
*.html

Automated_testing/cuda_test_decomposed/bin/*
Automated_testing/mainso8/bin/*
Automated_testing/mainso8/ncu_profiler/bin/*
Automated_testing/mainso8/__pycache__/*
