
*.o
*.exe
*.depend
*.cbp
*.layout
Timer/bin/Debug/libTimer.a
viscoacoustic_meres/base.txt
viscoacoustic_cpu_parallel/cpu_parallel.txt
Timer/bin/Debug
viscoacoustic.cpp
*.a
*.a
todo.txt
viscoacoustic_meres_simd/base.txt
pass
send
Terminalcode.txt
*run
*.meres.txt