
*.o
*.exe
*.depend
*.cbp
*.layout
Timer/bin/Debug/libTimer.a
viscoacoustic_meres/base.txt
viscoacoustic_cpu_parallel/cpu_parallel.txt
Timer/bin/Debug
viscoacoustic.cpp
*.a
*.a
todo.txt
viscoacoustic_meres_simd/base.txt
pass
send
Terminalcode.txt
Ploting/.vscode/settings.json
*.png
*.txt
Ploting/képek/.vs/képek/v16/.suo
*.csv
Ploting/képek/.vs/VSWorkspaceState.json
Ploting/képek/.vs/slnx.sqlite
Ploting/__pycache__/grafok.cpython-39.pyc
